In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

In [6]:
# read in sqlite database
conn = sqlite3.connect('climbing_data.db')

# read in table
df = pd.read_sql_query("SELECT * FROM climbs", conn)

In [7]:
df.head()

,id,photo,climb_date,climb_name,gym_name,grade,grade_judgment,num_sessions,notes
0,1,None,2023-10-05,Steve Purple,MBP,Purple,Hard,3,
1,2,None,2023-10-05,CRIPS,MBP,Black,On,5,
2,3,None,2023-10-05,And Candy,MBP,Orange,Soft,3,

Generated Key: 70f6ea705bf3a6556bf41860b1dc0f0e